
body {
  background:#686868;
}

#header  {
  padding-top: 20px;
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: #585858;
  height: 100px;
  top:0;
  width: 100%;
  z-index: 100;
}

#header, a {
  text-decoration: none;
  font-size: 250%;
}

.projects {
  text-align: center;
}

.projects a {
  width: 60px;
  padding-right: 80px;
}

.projects a:hover {
  border-color: orange;
}


ul {
  list-style-type: none;
}

#lyndsey_pic_container {
  padding-bottom: 20px;
}
.main-navigation {
  text-align: center;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
  padding-bottom: 10px;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation li a {
  width: 60px;
  padding-right: 80px;
}


.lyndsey_info_text {
  padding-top: 20px;
  position: relative;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 150%;
  top: 50%;
  color: #585858;
}

.lyndsey {
  position: relative;
  padding-left: 450px;
}

.info_text {
  font-size: 150%;
  top: 50%;
  color: #585858;
}

.footer {
  text-align: center
}


body {
  background: #BDBDBD;
}

